In [146]:
import pandas as pd
df= pd.read_excel('Primary_Commodity_Price_System_PCPS.xlsx')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Commodities  268 non-null    object
 1   Year         268 non-null    int64
 2   US Dollars   164 non-null    float64
 3   Index        264 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.5+ KB

In [136]:
sortYear=df['Year'].unique()
sortYear.sort()
print(sortYear)

[2019 2020 2021 2022]

In [137]:
sortCommodities=df['Commodities'].unique()
sortCommodities.sort()
print(sortCommodities)

['Agricultural raw materials' 'All commodities and Energy' 'Aluminum'
 'Australian, export markets' 'Beverages' 'Cereals' 'Chromium' 'Coal'
 'Cobalt' 'Cobalt ' 'Cocoa Beans' 'Coffee' 'Copper ' 'Cotton' 'Dubai'
 'Energy' 'Energy Transition Metal Index' 'Fertilizer' 'Food'
 'Food and Beverages' 'Hardwood' 'Hides' 'Indonesian in Japan'
 'Industrial Inputs' 'Iron Ore' 'Lead' 'Lead ' 'Lithium' 'Manganese'
 'Meat' 'Metals' 'Molybdenum' 'Natural Gas' 'Netherlands TFF' 'Nickel'
 'Nickel ' 'Non-Fuel Commodities' 'Other Food' 'Other milds' 'Palladium'
 'Platinum' 'Precious Metal' 'Propane' 'Rare Earth Elements' 'Robusta'
 'Rubber' 'Seafood' 'Silicon' 'Silver' 'Softwood'
 'South African, export markets' 'Spot Crude' 'Sugar' 'Tea' 'Timber' 'Tin'
 'U.K. Brent' 'US, domestic market' 'Uranium' 'Vanadium'
 'Vegetable oils and protein meals' 'West Texas Intermediate' 'Wool'
 'Zinc']

In [158]:
df.loc[df.groupby("Year")["Index"].idxmax()]

         Commodities  Year    US Dollars       Index
220         Vanadium  2019  29998.463878  383.099144
201        Palladium  2020   2192.673954  357.608664
202        Palladium  2021   2398.153222  391.120791
31   Netherlands TFF  2022     37.519835  861.864499

In [157]:
df.loc[df.groupby("Year")["Index"].idxmin()]

   Commodities  Year  US Dollars      Index
72       Hides  2019   40.807021  55.688495
73       Hides  2020   33.567213  45.808480
74       Hides  2021   47.418792  64.711442
75       Hides  2022   57.556472  78.546123

In [127]:
df.query("Commodities == 'Coal'").groupby('Commodities')['Index'].mean()

Commodities
Coal    223.311109
Name: Index, dtype: float64

In [128]:
df.query("Commodities == 'Copper'").groupby('Commodities')['Index'].mean()

Commodities
Copper    155.770688
Name: Index, dtype: float64

In [129]:
df.query("Commodities == 'Rubber'").groupby('Commodities')['Index'].mean()

Commodities
Rubber    111.615236
Name: Index, dtype: float64

In [153]:
df.query("(Commodities == 'Robusta' | Commodities == 'Other milds') & Year == 2022").nlargest(1,'Index')

     Commodities  Year  US Dollars       Index
235  Other milds  2022  255.465902  155.924027

In [156]:
df.query("(Commodities == 'Dubai' | Commodities == 'U.K. Brent' | Commodities == 'West Texas Intermediate') & Year == 2022").nlargest(1,'Index')

   Commodities  Year  US Dollars       Index
43       Dubai  2022   95.288669  229.777507

In [159]:
print("Top Commodities ")
df_Comm=df.nlargest(10, 'Index')
display(df_Comm[["Commodities","Index",'Year']])

Top Commodities

                       Commodities       Index  Year
31                 Netherlands TFF  861.864499  2022
15      Australian, export markets  548.173275  2022
23                     Natural Gas  521.578517  2022
11                            Coal  484.504479  2022
27             Indonesian in Japan  447.590755  2022
187                        Lithium  426.521767  2022
19   South African, export markets  420.835684  2022
202                      Palladium  391.120791  2021
220                       Vanadium  383.099144  2019
30                 Netherlands TFF  365.406510  2021